:root {
    --pageBackgroundColor: black;
    --contentBackgroundColor: #222222;
}

body {
    background-color: var(--pageBackgroundColor);
}

#container {
    max-width: 1000px !important;
    min-width: 500px;
    width: 100%;
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    background-color: var(--contentBackgroundColor);
    border-radius: 15px;
    padding: 50px;
}

#footerInfo {
    color: white;
    font-family: "Fira Code VF";
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    padding: 5px;
}